<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <div class='head'>
      <figure>
        <img src="https://clikauto.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Flogo.f337b21c.png&w=828&q=75"  class="figure-img img-fluid rounded">
      </figure>     
    </div>

  </body>
</html>
